<head>
    <style>
        body  {
          background-image: url("/static/img/ai_back.jpg");
          background-color: #cccccc;
        }
    </style>
</head>
<body>
<h1>Impact of waste contamination</h1>
<p>This page provides insights on how waste contamination impacts the environment.</p>
    

<iframe height="400" width="100%" frameborder="no" src="https://sohani0307.shinyapps.io/onboarding/"> </iframe>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<hr>

<!--<p class="w3-text" style="margin-left: 750px;">Want to find your nearest recycling spot?</p><br>-->
<!--        <button class="forum_button" style="margin-left: 850px"><a href="/map">Try Now</a></button>-->

<div class="w3-display-bottomright" style = "background-color: white; padding-bottom: 6%; position: fixed">
    <p class="w3-text" style = "margin-right: 20px; margin-left: 20px">Want to find your nearest recycling spot?
        <button class="forum_button"><a href="/map">Click here</a></button></p>
    </div>

</body>
