<head>
    <style>
        body  {
          background-image: url("/static/img/ai_back.jpg");
          background-color: #cccccc;
        }
    </style>
</head>
<body>
<h1>Latest News from Victorian Council</h1>
<p>This page gives the latest news regarding waste management in Victoria</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<hr>
<div class="w3-display-bottomright" style = "background-color: white; padding-bottom: 6%; position: fixed">
    <p class="w3-text" style = "margin-right: 20px; margin-left: 20px">Want to find your nearest recycling spot?
        <button class="forum_button"><a href="/map">Click here</a></button></p>
    </div>
</body>
