<head>
    <style>
        body  {
          background-image: url("/static/img/ai_back.jpg");
          background-color: #cccccc;
        }

        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        
        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(odd) {
            background-color: #dddddd;
        }
    </style>

</head>
<body>
<h1>Latest Updates from Victorian City Councils</h1>
<p>This table below states the website for various City Councils in Victoria</p>
    
    <table style="width:100%">
        <tr>
            <th>City Council</th>
            <th>Website</th>
        </tr>
        <tr>
            <td>Bayside City Council</td>
            <td><a href="https://www.bayside.vic.gov.au/services/waste-and-recycling" target="_blank">Bayside City Council website (Click here)</a></td>
        </tr>
        <tr>
            <td>City of Greater Dandenong Council</td>
            <td><a href="https://www.greaterdandenong.vic.gov.au/household-waste-collection-services" target="_blank">Greater Dandenong City Council website (Click here)</a></td>
        </tr>
        <tr>
            <td>City of Greater Geelong Council</td>
            <td><a href="https://www.geelongaustralia.com.au/recycling/default.aspx" target="_blank">Greater Geelong City Council website (Click here)</a></td>
        </tr>
        <tr>
            <td>Kingston City Council</td>
            <td><a href="http://www.kingston.vic.gov.au/Services/Rubbish-and-Recycling" target="_blank">Kingston City Council website (Click here)</a></td>
        </tr>
        <tr>
            <td>Melbourne City Council</td>
            <td><a href="http://www.melbourne.vic.gov.au/residents/waste-recycling/Pages/waste-recycling.aspx" target="_blank">Melbourne City Council website (Click here)</a></td>
        </tr>
        <tr>
            <td>Monash City Council</td>
            <td><a href="http://www.monash.vic.gov.au/waste-sustainability" target="_blank">Monash City Council website (Click here)</a></td>
        </tr>
        <tr>
            <td>Port Phillip City Council</td>
            <td><a href="https://www.portphillip.vic.gov.au/council-services/waste-recycling-and-rubbish" target="_blank">Port Phillip City Council website (Click here)</a></td>
        </tr>
        <tr>
            <td>Yarra Ranges Council</td>
            <td><a href="http://www.yarraranges.vic.gov.au/Property/Rubbish-recycling" target="_blank">Yarra Ranges City Council website (Click here)</a></td>
        </tr>
        <tr>
            <td>Warrnambool City Council</td>
            <td><a href="http://www.warrnambool.vic.gov.au/waste-management" target="_blank">Warrnambool City Council website (Click here)</a></td>
        </tr>
        <tr>
            <td>Yarra City Council</td>
            <td><a href="http://www.yarracity.vic.gov.au/services/recycling-and-rubbish" target="_blank">Yarra City Council website (Click here)</a></td>
        </tr>
    </table>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<hr>
<div class="w3-display-bottomright" style = "background-color: white; padding-bottom: 6%; position: fixed">
    <p class="w3-text" style = "margin-right: 20px; margin-left: 20px">Want to find your nearest recycling spot?
        <button class="forum_button"><a href="/map">Click here</a></button></p>
    </div>
</body>
