<h1>Reuse Methods</h1>
<p>Here are some of the reusing techniques to improve sustainability</p>

<body>

    <div class="reuse-body">
        <p>1. Used CDs could be glued together to be used as creative coasters!</p>

        <p>2. To make a beautiful lip gloss, melt the remnants of a lipstick with a tiny container of lip balm.</p>

        <p>3. Construct a phone out of a can. Kids adore it when you remove the lids and tie two tin cans together to create the desired look.</p>

        <p>4. To make ice blocks for your portable coolers, fill empty milk cartons with water, then place them in the freezer.</p>

        <p>5. Need to keep the youngsters entertained? Little children can use empty roll-on deodorant bottles as paint pens. After cleaning, add paint to the plastic ball and bottle, then reinstall the ball and lid. Keep it upside down with the lid securely fastened when storing.</p>

        <p>6. Get a worm farm and fill it with all of your leftover food. In order to provide you with nutrient-rich worm castings for your plants and vegetables, one kilogramme of worms can consume and recycle one kilogramme of food each day.</p>

        <p>7. Place your jam jar lids and steel bottle caps in an old steel container. Put the tin in your recycling bin once it is halfway filled by pressing the lid together to keep the contents in.</p>

        <p>8. Insert a tree seedling within the bottom of a used milk carton. When planted, the carton will break down as the tree matures while shielding your seedling from the elements and pests.</p>

        <p>9. Are you having a picnic? Bring your crushed bottles and cans home to recycle them.</p>

        <p>10. Put your corks in a jar on the window ledge to keep them safe. You can glue them on a plank or corflute to create your own cork noticeboard, or use them as a stamp while painting.</p>

        <p>11. To prevent rust or oil stains on your shelves, install clear plastic caps under spray cans in the bathroom or oil jars in the cabinet.</p>

        <p>12. Create your own wrapping paper! Wrap your gifts in the comic book pages from the Sunday paper, periodicals, or comics in your area. Children adore it, as do adults.</p>
            
    </div>

</body>

<body>
        <div class="summary-body">
                <p>The goal is to provide insights regarding waste disposal, reuse and recycling techniques.</p>
                <p>Additionally, an artificial intelligence algorithm is deployed to help you classify the garbage.</p>
        </div>
</body>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<hr>

<p class="w3-text" style="margin-left: 750px;">Want to find your nearest recycling spot?</p><br>
        <button class="forum_button" style="margin-left: 850px"><a href="/map">Try Now</a></button>
