<!DOCTYPE html>
<html>
<head>
    <title>About Us</title>
</head>

<body>

    <div class="about-heading">
        <h1>About Us</h1>
    </div>
    <div class="about-body">
        <p>This webite is designed by the group named Slack Attack which included by five Monash University students.</p>
        <p>The goal of this website is to help users to have a detailed understanding of waste disposal, and users can find relevant information on this website.</p>
        <p>And use artificial intelligence algorithm to classify the garbage</p>
        <p>Contact Us: 66666666</p>
    </div>

</body>

</html>

