<!DOCTYPE html>
<html>
<head>
    <title>About Us</title>
    <style>
        body  {
          background-image: url("/static/img/ai_back.jpg");
          background-color: #cccccc;
        }
    </style>


</head>

<body>

    <div class="about-heading">
        <h1>About Us</h1>
    </div>
    <div class="about-body">
        <p>This website is designed by the Monash University students.</p>
        <p>The goal is to help users provide insights regarding waste disposal and recycling techniques</p>
        <p>Additionally, an artificial intelligence algorithm is deployed to classify the garbage.</p>
    </div>

</body>

</html>

