<head>
    <title>Recyclo</title>
</head>

<body>
<!-- Page content -->
<div class="w3-content" style="max-width:1100px">

    <!-- Welcome Section -->
    <header class="w3-display-container w3-content w3-wide" style="max-width:1600px;min-width:500px" id="home">
  <img class="w3-image" src="/static/img/sustainable.jpeg" alt="homepagePic" width="1600" height="500">
  <div class="w3-display-topmiddle w3-padding-large w3-opacity w3-large">
      <h1>Welcome!</h1>
            <p>Reducing contamination of recyclable materials by providing insights.</p>
  </div>
    </header>
  <hr>

  <!-- AI Section -->
  <div class="w3-row w3-padding-64">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="/static/img/homepage2.png" class="w3-round w3-image w3-opacity-min" alt="sorting" style="width: 70%; height: 300px">
    </div>

    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">AI Sorting</h1><br>
      <h4>Deep learning model</h4>
      <p class="w3-text-grey">Upload your pictures of waste, AI will help you to sort your waste</p><br>
        <button class="forum_button"><a href="/sorting">Try now</a></button>
    </div>
  </div>

    <br>
    <br>
    <br>
    <br>


</div>
</body>
