<head>
    <style>
        body  {
          background-image: url("/static/img/ai_back.jpg");
          background-color: #cccccc;
        }
    </style>
</head>
<body>

<div class="w3-content w3-display-left" style="max-width:100%;">

    <div class="w3-container ">
    <h1 style = "font-size:6vw">AI Waste Sorting System</h1>
    <h3>Upload a picture of your household waste and get it classifed.</h3>
        <br>
      <form action = "/sorting" method = "POST"
         enctype = "multipart/form-data">
         <input class="w3-light-grey w3-large" type = "file" name = "file" /> <br><br><br>
         <input type = "submit" class = "forum_button" value="Submit"/>
      </form>


  </div>


</div>
<div class="w3-display-bottomright" style = "padding-bottom: 8%">
    <p class="w3-text" style = "margin-right: 30px">Need more information from your council?
        <button class="forum_button"><a href="/InfoHome">Click here</a></button></p>
    </div>
<div class="w3-display-bottommiddle" style = "padding-bottom: 6%">
    <p>Image source:<a href="http://www.freepik.com">Designed by Freepik</a></p>
    </div>

</body>
