<!--
<center>
<div class="sorting_title">
<h1>AI Sorting System</h1>
 <form class="submit_button" action = "http://127.0.0.1:5000/sorting" method = "POST"
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input type = "submit" value="submit"/>
      </form>
</div>
</center>
-->
<div class="w3-content" style="max-width:1100px;">


    <div class="w3-container w3-center">
    <h1>AI Sorting System</h1>
    <p>Upload a picture of your household waste</p>
        <br>
        <br>
      <form action = "/sorting" method = "POST"
         enctype = "multipart/form-data">
         <input class="w3-light-blue w3-large" type = "file" name = "file" /> <br><br><br>
         <input type = "Submit" value="submit"/>
      </form>
  </div>

    <br>
<br>
<hr>

<p class="w3-text" style="margin-left: 750px;">Find out more information from your council?</p><br>
        <button class="forum_button" style="margin-left: 850px"><a href="/InfoHome">Try Now</a></button>
</div>



